@font-face {
  font-family: 'Noto Sans Thai';
  src: url('/fonts/NotoSansThai-Bold.eot');
  src: url('/fonts/NotoSansThai-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSansThai-Bold.woff2') format('woff2'),
    url('/fonts/NotoSansThai-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('/fonts/NotoSansThai-Regular.eot');
  src: url('/fonts/NotoSansThai-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSansThai-Regular.woff2') format('woff2'),
    url('/fonts/NotoSansThai-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Thai ExtLt';
  src: url('/fonts/NotoSansThai-ExtraLight.eot');
  src: url('/fonts/NotoSansThai-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/NotoSansThai-ExtraLight.woff2') format('woff2'),
    url('/fonts/NotoSansThai-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Thai ExtBd';
  src: url('/fonts/NotoSansThai-ExtraBold.eot');
  src: url('/fonts/NotoSansThai-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/NotoSansThai-ExtraBold.woff2') format('woff2'),
    url('/fonts/NotoSansThai-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Thai Blk';
  src: url('/fonts/NotoSansThai-Black.eot');
  src: url('/fonts/NotoSansThai-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSansThai-Black.woff2') format('woff2'),
    url('/fonts/NotoSansThai-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('/fonts/NotoSansThai-Light.eot');
  src: url('/fonts/NotoSansThai-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSansThai-Light.woff2') format('woff2'),
    url('/fonts/NotoSansThai-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Thai SemBd';
  src: url('/fonts/NotoSansThai-SemiBold.eot');
  src: url('/fonts/NotoSansThai-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/NotoSansThai-SemiBold.woff2') format('woff2'),
    url('/fonts/NotoSansThai-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('/fonts/NotoSansThai-Thin.eot');
  src: url('/fonts/NotoSansThai-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSansThai-Thin.woff2') format('woff2'),
    url('/fonts/NotoSansThai-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Thai Med';
  src: url('/fonts/NotoSansThai-Medium.eot');
  src: url('/fonts/NotoSansThai-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSansThai-Medium.woff2') format('woff2'),
    url('/fonts/NotoSansThai-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans ExtBd';
  src: url('/fonts/NotoSans-ExtraBold.eot');
  src: url('/fonts/NotoSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-ExtraBold.woff2') format('woff2'),
    url('/fonts/NotoSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-BoldItalic.eot');
  src: url('/fonts/NotoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-BoldItalic.woff2') format('woff2'),
    url('/fonts/NotoSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Bold.eot');
  src: url('/fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-Bold.woff2') format('woff2'),
    url('/fonts/NotoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Blk';
  src: url('/fonts/NotoSans-BlackItalic.eot');
  src: url('/fonts/NotoSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-BlackItalic.woff2') format('woff2'),
    url('/fonts/NotoSans-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Blk';
  src: url('/fonts/NotoSans-Black.eot');
  src: url('/fonts/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-Black.woff2') format('woff2'),
    url('/fonts/NotoSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans ExtLt';
  src: url('/fonts/NotoSans-ExtraLightItalic.eot');
  src: url('/fonts/NotoSans-ExtraLightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/NotoSans-ExtraLightItalic.woff2') format('woff2'),
    url('/fonts/NotoSans-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans ExtBd';
  src: url('/fonts/NotoSans-ExtraBoldItalic.eot');
  src: url('/fonts/NotoSans-ExtraBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/NotoSans-ExtraBoldItalic.woff2') format('woff2'),
    url('/fonts/NotoSans-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Italic.eot');
  src: url('/fonts/NotoSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-Italic.woff2') format('woff2'),
    url('/fonts/NotoSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Regular.eot');
  src: url('/fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-Regular.woff2') format('woff2'),
    url('/fonts/NotoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Light.eot');
  src: url('/fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-Light.woff2') format('woff2'),
    url('/fonts/NotoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Med';
  src: url('/fonts/NotoSans-Medium.eot');
  src: url('/fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-Medium.woff2') format('woff2'),
    url('/fonts/NotoSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-LightItalic.eot');
  src: url('/fonts/NotoSans-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-LightItalic.woff2') format('woff2'),
    url('/fonts/NotoSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Med';
  src: url('/fonts/NotoSans-MediumItalic.eot');
  src: url('/fonts/NotoSans-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/NotoSans-MediumItalic.woff2') format('woff2'),
    url('/fonts/NotoSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans ExtLt';
  src: url('/fonts/NotoSans-ExtraLight.eot');
  src: url('/fonts/NotoSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-ExtraLight.woff2') format('woff2'),
    url('/fonts/NotoSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans SemBd';
  src: url('/fonts/NotoSans-SemiBold.eot');
  src: url('/fonts/NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-SemiBold.woff2') format('woff2'),
    url('/fonts/NotoSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-ThinItalic.eot');
  src: url('/fonts/NotoSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-ThinItalic.woff2') format('woff2'),
    url('/fonts/NotoSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Thin.eot');
  src: url('/fonts/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-Thin.woff2') format('woff2'),
    url('/fonts/NotoSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans SemBd';
  src: url('/fonts/NotoSans-SemiBoldItalic.eot');
  src: url('/fonts/NotoSans-SemiBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/NotoSans-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/NotoSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

html,
body {
  background-color: rgba(0, 0, 0, 0) !important;
  font-family: 'Noto Sans', 'Noto Sans Thai';
}

body::before {
  background: none;
  background-color: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.base-container {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  height: 720px;
  font-family: 'Noto Sans ExtBd', 'Noto Sans Thai ExtBd';
}

::-webkit-scrollbar {
  visibility: hidden;
  display: none;
}

.text-white {
  color: white;
  -webkit-text-stroke: 0.5px black;
  font-weight: bold;
}

.fadein {
  width: 100%;
  animation: fadein 0.2s linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.fadeout {
  width: 100%;
  animation: fadeout 0.2s linear forwards;
}

@keyframes fadeout {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

.nowrap-text {
  white-space: nowrap;
  overflow: hidden;
}

.songfeed {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 0px 20px 0px 20px;
  height: 335px;
  font-family: 'Noto Sans ExtBd', 'Noto Sans Thai ExtBd';
  -webkit-text-stroke: 1.2px black;
}

.song-list {
  height: 244px !important;
}

.text-bolder {
  font-weight: 900 !important;
}

.sliding-text {
  width: 100%;
  transform: translateX(100%);
  animation: sliding-text 8s linear infinite;
}

@keyframes sliding-text {
  0% {
    transform: translateX(100%);
  }
  35% {
    transform: translateX(0%);
  }
  55% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}
