aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
idna==3.2
multidict==5.1.0
mysql-connector-python==8.0.25
protobuf==3.17.2
six==1.16.0
twitchio==1.2.3
typing-extensions==3.10.0.0
websockets==9.1
yarl==1.6.3
