aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
dataclasses==0.6
deprecation==2.1.0
flake8==3.9.2
gotrue==0.2.0
h11==0.12.0
httpcore==0.12.3
httpx==0.16.1
idna==2.10
iniconfig==1.1.1
mccabe==0.6.1
methoddispatch==3.0.2
msgpack==1.0.2
multidict==5.1.0
packaging==21.0
pluggy==1.0.0
postgrest-py==0.4.0
protobuf==3.17.3
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
realtime-py==0.1.2
requests==2.25.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
supabase-py==0.0.2
toml==0.10.2
twitchio==2.0.6
typing-extensions==3.10.0.0
urllib3==1.26.6
websockets==8.1
yarl==1.6.3
