aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
idna==3.2
multidict==5.1.0
mysql-connector-python==8.0.26
nest-asyncio==1.5.1
protobuf==3.17.3
requests==2.26.0
six==1.16.0
twitchio==2.0.5
typing-extensions==3.10.0.0
urllib3==1.26.6
yarl==1.6.3
