.nowrap-text{
    white-space: nowrap;
    overflow: hidden;
}
.sliding-text{
    /* position: absolute; */
    width: 100%;
    transform: translateX(100%);
    animation: sliding-text 8s linear infinite;
}
@keyframes sliding-text{
    0% { transform: translateX(100%); }
    35% { transform: translateX(0%); }
    55% { transform: translateX(0%); }
    100% { transform: translateX(-135%); }
}
