.nowrap-text {
    white-space: nowrap;
    overflow: hidden;
}
::-webkit-scrollbar{
    visibility: hidden;
}
.stickynote{
    color: black;
    padding: 0px 20px 0px 20px;
    height: 310px;
    background-color: aquamarine;
}
