.nowrap-text {
    white-space: nowrap;
    overflow: hidden;
}
::-webkit-scrollbar{
    visibility: hidden;
}
.stickynote{
    background-image: url(stickynotes.png);
    color: black;
    padding: 30px 20px 20px 20px;
}
